* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --background: #141414;
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * 0.9);
}

body {
    background: var(--background);

}

header {
    text-align: center;
    color: white;
    font-weight: 400;
    margin: 64px 0 64px 0;
}

h1 {
    color: #E50914;
    font-weight: 600;
    text-transform: uppercase;
}

main.end{
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.board {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px white solid;
    width: var(--cell-size);
    height: var(--cell-size);
    border-top: none;
    border-right: none;
    position: relative;
    cursor: pointer;
}

.cell:nth-child(3n+1) {
    border-left: none;
}

.cell:nth-child(n+7) {
    border-bottom: none;
}

.cell.x::before, 
.cell.x::after
.cell.o::before{
    background-color: var(--background);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.board.o .cell:not(.x):not(.o):hover::before{
    background-color: #3d3d3d;
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after,
.cell.x::before,
.cell.x::after {
    content: '';
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
    position: absolute;
    background-color: #E50914;
}

.board.x .cell:not(.x):not(.o):hover::before,
.cell.x::before {
    transform: rotate(45deg);
}

.board.x .cell:not(.x):not(.o):hover::after,
.cell.x::after {
    transform: rotate(-45deg);
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after,
.cell.o::before,
.cell.o::after {
    content: '';
    width: var(--mark-size);
    height: var(--mark-size);
    border-radius: 50%;
    position: absolute;
}

.board.o .cell:not(.x):not(.o):hover::before,
.cell.o::before {
    width: calc(var(--mark-size) * 0.9);
    height: calc(var(--mark-size) * 0.9);
    background-color: #E50914;
}

.board.o .cell:not(.x):not(.o):hover::after,
.cell.o::after {
    width: calc(var(--mark-size) * 0.6);
    height: calc(var(--mark-size) * 0.6);
   background-color: #141414;
}

.cell.x, .cell.o{
    cursor: not-allowed;
}

.game-end-message{
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #141414;
    color: #E50914;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24pt;
    font-weight: 400;
}

.game-end-message button{
    font-size: 17pt;
    background-color: #141414;
    border: none;
    color: #E50914;
    padding: 8px;
}

.game-end-message button:hover{
    cursor: pointer;
    text-decoration: underline;
}

.game-end-message.show{
    display: flex;
}